.mine-head{
    overflow: hidden;
}
.mine-head-area{
    height: 30vh;
}
.mine-head-back{
    width: 1500px;
    height: 1500px;
    border-radius: 50%;
    background: rgb(0, 180, 194);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -108%);
} 
.mine-head-information-area{
    position: relative;
    overflow: hidden;
    width: 94vw;
    margin: 0 3vw;
}
.mine-head-left{
    height: 20vw;
    margin-left: 3vw;
    margin-top: 3vw;
    float: left;
}
.mine-head-left-img{
    width: 68px;
    border-radius: 35px;
}
.mine-log{
    position: absolute;
    top: 10vw;
    left: 25vw;
    color: rgb(243, 251, 252);
}
.mine-setting{
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
}
.mine-more{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15px;
    color: white;
}



