.top-area{
    display: flex;
    justify-content: space-around;
    margin: 10px 3vw;
}
.best-top-area-mode{
    width: 21vw;
    height: 18vw;
    position: relative;
}
.bestseller-top-area-img-mode{
    width: 35px;
    height: 35px;
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}
.top-area-h6{
    text-align: center;
    margin:0 auto;
    font-size: 13px;
    color: rgb(144, 143, 143);
    font-weight: 400;
}